<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<javaee:display-name>Campus Assistant Web Application
	</javaee:display-name>
	<!-- 设置上下文键值对 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:beans.xml</param-value>
	</context-param>

	<!-- 项目加载后初始化Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 创建ServletContext时激发CleanListener -->
	<listener>
		<listener-class>com.techthinker.CAWeb.web.CleanListener</listener-class>
	</listener>

	<!-- 操作Session时激发listener-class -->
	<listener>
		<listener-class>com.techthinker.CAWeb.web.CAWebSessionListener</listener-class>
	</listener>

	<!-- 字符编码过滤器 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- application上下文过滤器 -->
	<filter>
		<filter-name>SystemContextFilter</filter-name>
		<filter-class>com.techthinker.CAWeb.web.SystemContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SystemContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- OpenSessionInView上下文过滤器 -->
	<filter>
		<filter-name>OpenSessionInViewer</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewer</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 权限验证过滤器 <filter> <filter-name>AuthFilter</filter-name> <filter-class>com.techthinker.CAWeb.web.AuthFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>AuthFilter</filter-name> <url-pattern>*.action</url-pattern> 
		</filter-mapping> <filter-mapping> <filter-name>AuthFilter</filter-name> 
		<url-pattern>*.do</url-pattern> </filter-mapping> -->

	<!-- Struts过滤器 -->
	<filter>
		<filter-name>struts-prepare</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>struts-execute</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!-- 	<filter> -->
<!-- 		<filter-name>struts-redirect</filter-name> -->
<!-- 		<filter-class>org.apache.struts2.dispatcher.ServletActionRedirectResult</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>struts-redirect</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	<!-- sitemesh <filter> <filter-name>sitemesh</filter-name> <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>sitemesh</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> 文过滤器 -->

	<!-- 项目加载运行InitServlet -->
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.techthinker.CAWeb.web.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- 项目加载运行Axis Web Service -->
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 用于接收从本地上传的服务部署文件 -->
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<!-- 用于发布即时服务 -->
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<!-- 用于发布定制服务 -->
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

</web-app>